extends contents-layout
block title
  title 그룹
block preload-script
block global
  if message
    .toast-custom#toast
      span #{message}
block contents-header
block contents
  //- Group Summary Module
  .container.box-lg(style='text-align:center;')
    .row(style="text-align:center;")
      h4.teal-text.text-darken-1(style="font-weight:bold;") #{groupdata.Groupname}
      strong
        span.grey-text.text-darken-3 Since 
        span.teal-text= moment(groupdata.createtime).format("YYYY-MM-DD")
        span.grey-text.text-darken-3  / Created by 
        span.teal-text= (groupdata.creator)
        br
        span.grey-text.text-darken-3 장르 : 
        span.teal-text= (groupdata.Genre)
        span.grey-text.text-darken-3  / 상태 : 
        if groupdata.Finished
          span.red-text 연재 종료
        else
          span.green-text 연재 중
    .row(style="text-align:center;")
      img.circle.profile.z-depth-2#img_profile(src=groupdata.GroupImageURL, onerror="this.src='/image_404.png'", style="width:250px; height:250px;")
    .row(style="text-align:center;")
      .col.s4
        h5.teal-text 독자
        h5 #{readersCount}
      .col.s4
        h5.teal-text 작가
        h5 #{writersCount}
      .col.s4
        h5.teal-text 길이
        h5 0
        //- 총 글자수 count 하는 모듈
    .row(style="text-align:center;")
      //- 나중에 실시간으로 바꿀것
      if(groupdata.writer)
        h6(style="text-align:center;") 현재 
          span.teal-text.text-darken-1 #{groupdata.writer}
          |  님이 작성 중입니다! (
          span(style="color:#00897b")#tiktok #{remain_time}
          |  남음)
      else
        h6(style="text-align:center;") 현재 투표 중 입니다!
        
    form(action='/group', method='post', style='text-align:center;')
      .row
        if(!isjoin)
          .col.s12.m4
            a.btn-large.waves-effect.waves-light(href='/group/joinreader?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 독자되기
          .col.s12.m4
            a.btn-large.waves-effect.waves-light.blue(href='/group/joinwriter?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 작가되기
          .col.s12.m4
            a.btn-large.disabled(style="width:100%; margin-bottom: 10px;") 탈퇴
        else
          if(iswriter)
            .col.s12.m4
              a.btn-large.waves-effect.waves-light(href='/group/bereader?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 독자되기
            .col.s12.m4
              a.btn-large.disabled(style="width:100%; margin-bottom: 10px;") 작가되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.red(href='/group/exit?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 탈퇴
          else
            .col.s12.m4
              a.btn-large.disabled(style="width:100%; margin-bottom: 10px;") 독자되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.blue(href='/group/bewriter?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 작가되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.red(href='/group/exit?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 탈퇴
    hr
    //- Rules
    .row
      h5.teal-text.text-darken-1(style="font-weight:bold;") 그룹 규칙
      .col.s12.m4(style="padding=20px; margin-bottom: 10px;")
        .rule-card.grey.lighten-3
          strong 작성 제한 시간
          br
          span.teal-text #{groupdata.WriteLimit}
      .col.s12.m4(style="padding=20px; margin-bottom: 10px;")
        .rule-card.grey.lighten-3
          strong 투표 제한 시간
          br
          span.teal-text #{groupdata.VoteLimit}
      .col.s12.m4(style="padding=20px; margin-bottom: 10px;")
        .rule-card.grey.lighten-3
          strong 글자 수 제한
          br
          span.teal-text #{groupdata.minwrite}-#{groupdata.maxwrite}
    hr
    //- Read Module
    .row
      h5.teal-text.text-darken-1(style="font-weight:bold;") 소설 읽기
      .row(style="text-align: right; padding-right: 20px;")
        a.btn.waves-effect.waves-light.teal.lighten-1(href="#!") 히스토리
      div#readnodes
      .row
        a.btn.waves-effect.waves-light.teal.lighten-1#loadreadbutton(style="width:150px;") 더 보기
    //- Write Module 접속자가 작성 turn 일때만 글쓰기 form이 보여야 함
    if(groupdata.writer == session.user_id)
      .row
        h5.blue-text.text-darken-1(style="font-weight:bold;") 당신의 작성 차례입니다!
        form(action='/group/write?groupname='+groupdata.Groupname, method='post')
          .col.s12
            textarea.materialize-textarea#writearea(name='writearea', placeholder='여기에 작성해 주세요!', style="box-sizing:border-box; background-color: #eeeeee; border: 1px solid grey; padding-left: 10px; padding-right: 10px; min-height: 200px;")
          .col.s12
            button.btn-large.waves-effect.waves-light.blue(type='submit', style="width:100%; max-width: 200px;") 단락 추가
    //- Write form end
    //- Vote Module
    if(isjoin)
      hr
      .row
        h5.teal-text.text-darken-1(style="font-weight:bold;") 진행중인 투표
        div#votenodes
        .row
          a.btn.waves-effect.waves-light.teal.lighten-1#loadvotebutton(style="width:150px;") 더 보기
block contents-footer
block afterload-script
  //- 토스트 메세지
  script(type="text/javascript", src = 'viewjs/imageloader.js')
  script(type="text/javascript").
    $(document).ready(function() {
      setTimeout("$('#toast').fadeOut(2000);", 2000);
    });
  //- Write Module
  script(type='text/javascript').
    $('#writearea').trigger('autoresize');
  //- Read Module
  script(type='text/javascript', src='viewjs/loadmorenode.js')
  script(type='text/javascript').
    var numInitialGroup = 3;
    var numIncremental = 4;
    $(loadmore('readnodes', numInitialGroup, '/group/read', '/group/readnode', '#{groupdata.Groupname}', '#{nodeid}'));
    $( "#loadreadbutton" ).click(function() {
      loadmore('readnodes', numIncremental, '/group/read', '/group/readnode', '#{groupdata.Groupname}', '#{nodeid}');
    });
  //- Vote Module
  script(type='text/javascript', src='viewjs/loadmorevote.js')
  script(type='text/javascript').
    var numInitialGroup = 3;
    var numIncremental = 4;
    $(loadmore('votenodes', numInitialGroup, '/group/votedata', '/group/votenode', '#{groupdata.Groupname}'));
    $( "#loadvotebutton" ).click(function() {
      loadmore('votenodes', numIncremental, '/group/votedata', '/group/votenode', '#{groupdata.Groupname}');
    });  
  //- Time Module
  script(type='text/javascript', src='viewjs/time2sec.js')
  script(type='text/javascript').
    var totalsec = time2sec('#{remain_time}');
    setInterval(function (){
      if(totalsec > 0){
        totalsec = totalsec - 1;
        $('span#tiktok').text(sec2time(totalsec));
      }
      else{
        $('span#tiktok').css('color','red');
      }
    }, 1000);