extends contents-layout
block title
  title 그룹
block preload-script
block global
  if message
    .toast-custom#toast
      span #{message}
block contents-header
block contents
  //- Group Summary Module
  .container.box-lg(style='text-align:center;')
    .row(style="text-align:center;")
      h4.teal-text.text-darken-1(style="font-weight:bold;") #{groupdata.Groupname}
      strong
        span.grey-text.text-darken-3 Since 
        span.teal-text= moment(groupdata.createtime).format("YYYY-MM-DD")
        span.grey-text.text-darken-3  / Made by 
        span.teal-text= (groupdata.creator)
        br
        span.grey-text.text-darken-3 장르 : 
        span.teal-text= (groupdata.Genre)
        span.grey-text.text-darken-3  / 상태 : 
        if groupdata.Finished
          span.red-text 연재 종료
        else
          span.green-text 연재 중
    .row(style="text-align:center;")
      img.circle.profile#img_profile(src=groupdata.GroupImageURL, style="width:250px; height:250px;")
    .row(style="text-align:center;")
      .col.s4
        h5.teal-text 독자
        strong #{groupdata.readers}
      .col.s4
        h5.teal-text 작가
        strong #{groupdata.writers}
      .col.s4
        h5.teal-text 길이
        strong 0
        //- 총 글자수 count 하는 모듈
    .row(style="text-align:center;")
      //- 나중에 실시간으로 바꿀것
      h6(style="text-align:center;") 현재 
        span.teal-text.text-darken-1 #{groupdata.writer}
        |  님이 작성 중입니다! (
        span.teal-text.text-darken-1 #{remain_time}
        |  남음)
    form(action='/group', method='post', style='text-align:center;')
      .row
        if(!isjoin)
          .col.s12.m4
            a.btn-large.waves-effect.waves-light(href='/group/joinreader?groupname='+groupdata.Groupname, style="width:100%") 독자되기
          .col.s12.m4
            a.btn-large.waves-effect.waves-light.blue(href='/group/joinwriter?groupname='+groupdata.Groupname, style="width:100%") 작가되기
          .col.s12.m4
            a.btn-large.disabled(style="width:100%") 탈퇴
        else
          if(iswriter)
            .col.s12.m4
              a.btn-large.waves-effect.waves-light(href='/group/bereader?groupname='+groupdata.Groupname, style="width:100%") 독자되기
            .col.s12.m4
              a.btn-large.disabled(style="width:100%") 작가되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.red(href='/group/exit?groupname='+groupdata.Groupname, style="width:100%") 탈퇴
          else
            .col.s12.m4
              a.btn-large.disabled(style="width:100%") 독자되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.blue(href='/group/bewriter?groupname='+groupdata.Groupname, style="width:100%") 작가되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.red(href='/group/exit?groupname='+groupdata.Groupname, style="width:100%") 탈퇴
    .row
      br
      hr
      br
    .row
      h5.teal-text.text-darken-1(style="font-weight:bold;") 그룹 규칙
      .col.s12.m4(style="padding=20px;")
        .rule-card.grey.lighten-3
          strong 작성 제한 시간
          br
          span.teal-text #{groupdata.WriteLimit}
      .col.s12.m4(style="padding=20px;")
        .rule-card.grey.lighten-3
          strong 투표 제한 시간
          br
          span.teal-text #{groupdata.VoteLimit}
      .col.s12.m4(style="padding=20px;")
        .rule-card.grey.lighten-3
          strong 글자 수 제한
          br
          span.teal-text 100-250
    .row
      br
      hr
      br
  
  //- Read Module
  .container.box-lg(style='text-align:center;')
    .row
      form.col.s12(action='/group/write?groupname='+groupdata.Groupname, method='post')
        .row
          .input-field.col.s12
            textarea#writearea.materialize-textarea(name='writearea')
            label(for='writearea') 소설 작성란
            button.btn-large.waves-effect.waves-light.teal(type='submit', style="width:100%;") 소설 제출
            
  //- Write Module
  .container.box-lg(style='text-align:center;')
    .row
      form.col.s12(action='/group/write?groupname='+groupdata.Groupname, method='post')
        .row
          .input-field.col.s12
            textarea#writearea.materialize-textarea(name='writearea')
            label(for='writearea') 소설 작성란
            button.btn-large.waves-effect.waves-light.teal(type='submit', style="width:100%;") 소설 제출

    
block contents-footer
block afterload-script
  //- 토스트 메세지
  script(type="text/javascript", src = 'viewjs/imageloader.js')
  script.
    $(document).ready(function() {
      setTimeout("$('#toast').fadeOut(2000);", 2000);
    });
  //- Write Module
  script(type='text/javascript').
    $('#writearea').trigger('autoresize');
  script(type='text/javascript', src='viewjs/loadmoregroup.js')
  script(type='text/javascript').
    var numInitialGroup = 5;
    var numIncremental = 5;
    var grouphtml = `
    '<li class="collection-item avatar" style="padding-left:90px; padding-right:60px; text-align:left;">'
        +'<img src="'+ group.GroupImageURL + '" alt="" class="circle responsive-img" style="margin:auto; width:65px; height:65px;">'
        +'<span class="title"><strong>'+ group.Groupname + '</strong></span>'
        +'<p>Genre : '+ group.Genre + '<br>Second Line</p>'
        +'<a href="group?groupname=' + group.Groupname + '"class="secondary-content" style="margin:auto;"><i class="fa fa-sign-in fa-3x" aria-hidden="true"></i></a>'
    +'</li>'`;
    $(loadmore('cgroup', numInitialGroup, '/dashboard/moregroup', grouphtml));
    $( "#loadmorebutton" ).click(function() {
      loadmore('cgroup', numIncremental, '/dashboard/moregroup', grouphtml);
    });