extends contents-layout
block title
  title 그룹
block preload-script
block global
  if message
    .toast-custom#toast
      span #{message}
block contents-header
block contents
  //- Group Summary Module
  .container.box-lg(style='text-align:center;')
    .row(style="text-align:center;")
      h4.teal-text.text-darken-1(style="font-weight:bold;") #{groupdata.Groupname}
      strong
        span.grey-text.text-darken-3 Since 
        span.teal-text= moment(groupdata.createtime).format("YYYY-MM-DD")
        span.grey-text.text-darken-3  / Made by 
        span.teal-text= (groupdata.creator)
        br
        span.grey-text.text-darken-3 장르 : 
        span.teal-text= (groupdata.Genre)
        span.grey-text.text-darken-3  / 상태 : 
        if groupdata.Finished
          span.red-text 연재 종료
        else
          span.green-text 연재 중
    .row(style="text-align:center;")
      img.circle.profile.z-depth-2#img_profile(src=groupdata.GroupImageURL, onerror="this.src='/image_404.png'", style="width:250px; height:250px;")
    .row(style="text-align:center;")
      .col.s4
        h5.teal-text 독자
        strong #{groupdata.readers}
      .col.s4
        h5.teal-text 작가
        strong #{groupdata.writers}
      .col.s4
        h5.teal-text 길이
        strong 0
        //- 총 글자수 count 하는 모듈
    .row(style="text-align:center;")
      //- 나중에 실시간으로 바꿀것
      h6(style="text-align:center;") 현재 
        span.teal-text.text-darken-1 #{groupdata.writer}
        |  님이 작성 중입니다! (
        span.teal-text.text-darken-1 #{remain_time}
        |  남음)
    form(action='/group', method='post', style='text-align:center;')
      .row
        if(!isjoin)
          .col.s12.m4
            a.btn-large.waves-effect.waves-light(href='/group/joinreader?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 독자되기
          .col.s12.m4
            a.btn-large.waves-effect.waves-light.blue(href='/group/joinwriter?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 작가되기
          .col.s12.m4
            a.btn-large.disabled(style="width:100%; margin-bottom: 10px;") 탈퇴
        else
          if(iswriter)
            .col.s12.m4
              a.btn-large.waves-effect.waves-light(href='/group/bereader?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 독자되기
            .col.s12.m4
              a.btn-large.disabled(style="width:100%; margin-bottom: 10px;") 작가되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.red(href='/group/exit?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 탈퇴
          else
            .col.s12.m4
              a.btn-large.disabled(style="width:100%; margin-bottom: 10px;") 독자되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.blue(href='/group/bewriter?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 작가되기
            .col.s12.m4
              a.btn-large.waves-effect.waves-light.red(href='/group/exit?groupname='+groupdata.Groupname, style="width:100%; margin-bottom: 10px;") 탈퇴
    hr
    //- Rules
    .row
      h5.teal-text.text-darken-1(style="font-weight:bold;") 그룹 규칙
      .col.s12.m4(style="padding=20px; margin-bottom: 10px;")
        .rule-card.grey.lighten-3
          strong 작성 제한 시간
          br
          span.teal-text #{groupdata.WriteLimit}
      .col.s12.m4(style="padding=20px; margin-bottom: 10px;")
        .rule-card.grey.lighten-3
          strong 투표 제한 시간
          br
          span.teal-text #{groupdata.VoteLimit}
      .col.s12.m4(style="padding=20px; margin-bottom: 10px;")
        .rule-card.grey.lighten-3
          strong 글자 수 제한
          br
          span.teal-text 100-250
    hr
    //- Read Module
    .row
      h5.teal-text.text-darken-1(style="font-weight:bold;") 소설 읽기
      .row(style="text-align: right; padding-right: 20px;")
        a.btn.waves-effect.waves-light.teal.lighten-1(href="#!") 히스토리
      .row
        .col.s12
          .card.grey.lighten-3
            .card-content.grey-text.text-darken-3(style="text-align: left;")
              .row(style="margin-bottom: 20px;")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit magna, tincidunt quis nisl id, venenatis tincidunt ligula. Morbi sit amet consectetur ligula. Aliquam ac risus enim. Mauris scelerisque odio vel purus luctus, at eleifend augue porttitor. Phasellus malesuada efficitur elit, id congue nisi ultricies eu. Praesent pulvinar nisl eget venenatis lobortis. Duis mauris diam, fermentum nec quam ut, vestibulum viverra mauris. Sed consequat nibh et porta eleifend. Aliquam erat volutpat. Nulla id nulla nisi. In facilisis neque ut sem malesuada, eget pulvinar odio cursus. Duis scelerisque ipsum eget elit eleifend imperdiet. Nam venenatis nunc et felis volutpat tincidunt. Cras nec enim nibh. Nam a augue id lorem iaculis malesuada at vitae nisl.
              .row(style="text-align: right; padding-right: 20px;")
                img.circle.profile(src="userimages/empty_user.gif", onerror="this.src='image_404.png'", style="width:50px; height:50px; clear:left;")
                .teal-text(style="float:right; margin-left: 20px;")
                  strong User.Nickname
                  br
                  | 2016-XX-XX 
      .row
        .col.s12
          .card.grey.lighten-3
            .card-content.grey-text.text-darken-3(style="text-align: left;")
              .row(style="margin-bottom: 20px;")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit magna, tincidunt quis nisl id, venenatis tincidunt ligula. Morbi sit amet consectetur ligula. Aliquam ac risus enim. Mauris scelerisque odio vel purus luctus, at eleifend augue porttitor. Phasellus malesuada efficitur elit, id congue nisi ultricies eu. Praesent pulvinar nisl eget venenatis lobortis. Duis mauris diam, fermentum nec quam ut, vestibulum viverra mauris. Sed consequat nibh et porta eleifend. Aliquam erat volutpat. Nulla id nulla nisi. In facilisis neque ut sem malesuada, eget pulvinar odio cursus. Duis scelerisque ipsum eget elit eleifend imperdiet. Nam venenatis nunc et felis volutpat tincidunt. Cras nec enim nibh. Nam a augue id lorem iaculis malesuada at vitae nisl.
              .row(style="text-align: right; padding-right: 20px;")
                img.circle.profile(src="userimages/empty_user.gif", onerror="this.src='image_404.png'", style="width:50px; height:50px; clear:left;")
                .teal-text(style="float:right; margin-left: 20px;")
                  strong User.Nickname
                  br
                  | 2016-XX-XX 
      .row
        .col.s12
          .card.grey.lighten-3
            .card-content.grey-text.text-darken-3(style="text-align: left;")
              .row(style="margin-bottom: 20px;")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit magna, tincidunt quis nisl id, venenatis tincidunt ligula. Morbi sit amet consectetur ligula. Aliquam ac risus enim. Mauris scelerisque odio vel purus luctus, at eleifend augue porttitor. Phasellus malesuada efficitur elit, id congue nisi ultricies eu. Praesent pulvinar nisl eget venenatis lobortis. Duis mauris diam, fermentum nec quam ut, vestibulum viverra mauris. Sed consequat nibh et porta eleifend. Aliquam erat volutpat. Nulla id nulla nisi. In facilisis neque ut sem malesuada, eget pulvinar odio cursus. Duis scelerisque ipsum eget elit eleifend imperdiet. Nam venenatis nunc et felis volutpat tincidunt. Cras nec enim nibh. Nam a augue id lorem iaculis malesuada at vitae nisl.
              .row(style="text-align: right; padding-right: 20px;")
                img.circle.profile(src="userimages/empty_user.gif", onerror="this.src='image_404.png'", style="width:50px; height:50px; clear:left;")
                .teal-text(style="float:right; margin-left: 20px;")
                  strong User.Nickname
                  br
                  | 2016-XX-XX
                
    hr
    //- Write Module
    .row
      h5.teal-text.text-darken-1(style="font-weight:bold;") 작성하기
      form.col.s12(action='/group/write?groupname='+groupdata.Groupname, method='post')
        .row
          .input-field.col.s12
            i.material-icons.prefix mode_edit
            textarea#writearea.materialize-textarea(name='writearea', length='250')
            label(for='writearea') 소설 작성란
          button.btn-large.waves-effect.waves-light.teal(type='submit', style="width:100%; max-width: 200px;") 소설 제출
    hr
    .row
      h5.teal-text.text-darken-1(style="font-weight:bold;") 진행중인 투표
    

    
block contents-footer
block afterload-script
  //- 토스트 메세지
  script(type="text/javascript", src = 'viewjs/imageloader.js')
  script.
    $(document).ready(function() {
      setTimeout("$('#toast').fadeOut(2000);", 2000);
    });
  //- Write Module
  script(type='text/javascript').
    $('#writearea').trigger('autoresize');
<<<<<<< HEAD
  //- script(type='text/javascript', src='viewjs/loadmoregroup.js')
  //- script(type='text/javascript').
  //-   var numInitialGroup = 5;
  //-   var numIncremental = 5;
  //-   var grouphtml = `
  //-   '<li class="collection-item avatar" style="padding-left:90px; padding-right:60px; text-align:left;">'
  //-       +'<img src="'+ group.GroupImageURL + '" alt="" class="circle responsive-img" style="margin:auto; width:65px; height:65px;">'
  //-       +'<span class="title"><strong>'+ group.Groupname + '</strong></span>'
  //-       +'<p>Genre : '+ group.Genre + '<br>Second Line</p>'
  //-       +'<a href="group?groupname=' + group.Groupname + '"class="secondary-content" style="margin:auto;"><i class="fa fa-sign-in fa-3x" aria-hidden="true"></i></a>'
  //-   +'</li>'`;
  //-   $(loadmore('cgroup', numInitialGroup, '/dashboard/moregroup', grouphtml));
  //-   $( "#loadmorebutton" ).click(function() {
  //-     loadmore('cgroup', numIncremental, '/dashboard/moregroup', grouphtml);
  //-   });
=======
  script(type='text/javascript', src='viewjs/loadmoregroup.js')
  script(type='text/javascript').
    var numInitialGroup = 8;
    var numIncremental = 8;
    $(loadmore('cgroup', numInitialGroup, '/dashboard/moregroup', grouphtml));
    $( "#loadmorebutton" ).click(function() {
      loadmore('cgroup', numIncremental, '/dashboard/moregroup', grouphtml);
    });
>>>>>>> a717a55244466b141e2ba68da735b3cb3cbb1eaa
