doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Relay Novel
    // Bootstrap
    // link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // link(href='/stylesheets/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/stylesheets/materialize.min.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheets/stylesheet.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel="stylesheet")
    script(src='/javascripts/jquery.min.js')
    // script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/init.js')
  body
    nav.teal.lighten-1
      .container
        .nav-wrapper
          a.brand-logo(href='/') RELAY NOVEL
          a.button-collapse(href-'#', data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a.waves-effect(href='/') 홈
            li
              if session && session.logined
                a.waves-effect(href='/joinable') 그룹
            li
              if session && session.logined
                a.waves-effect(href='/dashboard') 대쉬보드
            li
              if session && session.logined
                form(id = 'logout' action='/logout', method='post' style='text-align:center;')
                  a.waves-effect(href='#' onclick="document.getElementById('logout').submit();") 로그아웃
              else
                a.waves-effect(href='/login') 로그인
            li
              if session && session.logined
              else
                a.waves-effect(href='/register') 가입하기
          ul#mobile-demo.side-nav
            li
              a.waves-effect(href='/') 홈
            li
              if session && session.logined
                a.waves-effect(href='/joinable') 그룹
            li
              if session && session.logined
                a.waves-effect(href='/dashboard') 대쉬보드
            li
              if session && session.logined
                form(id = 'logout' action='/logout', method='post' style='text-align:center;')
                  a.waves-effect(href='#' onclick="document.getElementById('logout').submit();") 로그아웃
              else
                 a.waves-effect(href='/login') 로그인
            li
              if session && session.logined
              else
                a.waves-effect(href='/register') 가입하기

    block inlayout
    footer.page-footer.teal.lighten-1
      if session && session.logined 
        .container
          .row
            .col.l6.s12
              h5.white-text KAIST CS350
              p.grey-text.text-lighten-4
                | Lorem ipsum blah blah ...
            .col.l3.s12
              h5.white-text 오늘의 베스트 
              ul
                li
                  form(id = 'group4' action='/group', method='get')
                    input(type="hidden" name="groupname" value="#{links[4]}") 
                    a.waves-effect(style={color : 'white'}, href='#' onclick="document.getElementById('group3').submit();") #{links[4]}
                li
                  form(id = 'group5' action='/group', method='get')
                    input(type="hidden" name="groupname" value="#{links[5]}") 
                    a.waves-effect(style={color : 'white'}, href='#' onclick="document.getElementById('group3').submit();") #{links[5]}
                li
                  form(id = 'group6' action='/group', method='get')
                    input(type="hidden" name="groupname" value="#{links[6]}") 
                    a.waves-effect(style={color : 'white'}, href='#' onclick="document.getElementById('group3').submit();") #{links[6]}
                li
                  form(id = 'group7' action='/group', method='get')
                    input(type="hidden" name="groupname" value="#{links[7]}") 
                    a.waves-effect(style={color : 'white'}, href='#' onclick="document.getElementById('group3').submit();") #{links[7]}
            .col.l3.s12
              h5.white-text 최근 업데이트
              ul
                li
                  form(id = 'group0' action='/group', method='get')
                    input(type="hidden" name="groupname" value="#{links[0]}") 
                    a.waves-effect(style={color : 'white'}, href='#' onclick="document.getElementById('group0').submit();") #{links[0]}                  
                li
                  form(id = 'group1' action='/group', method='get')
                    input(type="hidden" name="groupname" value="#{links[1]}") 
                    a.waves-effect(style={color : 'white'}, href='#' onclick="document.getElementById('group1').submit();") #{links[1]}
                li
                  form(id = 'group2' action='/group', method='get')
                    input(type="hidden" name="groupname" value="#{links[2]}") 
                    a.waves-effect(style={color : 'white'}, href='#' onclick="document.getElementById('group2').submit();") #{links[2]}
                li
                  form(id = 'group3' action='/group', method='get')
                    input(type="hidden" name="groupname" value="#{links[3]}") 
                    a.waves-effect(style={color : 'white'}, href='#' onclick="document.getElementById('group3').submit();") #{links[3]}
      .footer-copyright.teal.darken-2
        .container
          | Made by 
          span.orange-text.text-lighten-2(href='#') Team Fossil